body {
    background-color:rgb(255, 255, 255); /*Светлый фон*/
    font-family: Arial, Helvetica, sans-serif; /*Шрифт*/
}
h1 {
    color: rgb(0, 0, 0); /*Синий цвет текста для заголовка*/
    text-align: center; /*Центрируем текст*/
}
p{ 
    color: rgb(255, 255, 255); /*Зелёный цвет текста для абзаца*/
    font-size: 20px; /*Размер шрифта*/
}